html,
body,
#root {
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../src/images/background.png");
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}
